* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #002b00;
}
.header {
  height: 75px;
}
.profile-container {
  display: flex;
  justify-content: space-around;
}
.player-user-card,
.player-opponent-card {
  background-color: #ffffff;
  height: 5rem;
  width: 15rem;
  border: solid 3px gray;
  border-radius: 25px;
  padding: 10px 5px;
  margin: 1rem;
}
.status-container {
  display: flex;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  margin: 20px 1rem;
}
.status-container h2 {
  margin: auto;
}
.chess-board {
  margin: 0 1rem;
}
@media (min-width: 1024px) {
}
@media (min-width: 768px) {
  .chess-board {
    width: 50%;
    margin: auto;
  }
  .status-container {
    width: 500px;
    margin: 20px auto;
  }
}
